<div class="container">
    <span class="LeftPlayer"></span>
    <span class="TennisBall"></span>
    <span class="RightPlayer"></span>
    <div class="col-sm-8 disablefloat centerblock margintop5perc marginbottom5perc">
        <span class="bubble">Hi,</span>
        <h1>
            <strong>
                I'm AJ<span class="text-red">.</span><br/>Passionate Angular Front End developer<span class="text-red">.</span>
            </strong>
        </h1>
        <div class="table-wrapper">
            <div class="periodic-table navigation">
                <a pageScroll href="#intro">
                    <div class="periodic-item text-black">
                        <h1><strong>XP</strong></h1>
                        <p>Expertise</p>
                    </div>
                </a>
                <a pageScroll href="#portfolio-photos">
                    <div class="periodic-item text-black">
                        <h1><strong>WK</strong></h1>
                        <p>Work</p>
                    </div>
                </a>
                <!--<a pageScroll href="#portfolio">
                    <div class="periodic-item text-black">
                        <h1><strong>CT</strong></h1>
                        <p>Design</p>
                    </div>
                </a>-->
                <a pageScroll href="#contactme">
                    <div class="periodic-item text-black">
                        <h1><strong>CT</strong></h1>
                        <p>Contact</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="bottomScroll margintop5perc text-center">
            <a pageScroll href="#portfolio-photos" class="text-black ">
                <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i><br/>
                <strong><p>View my work</p></strong>
            </a>
        </div>
    </div>
</div>
