
<app-body-intro   *ngIf="!displayPortfolioItem" id="intro"  class="section intro text-black"></app-body-intro>
<app-body-achievements *ngIf="!displayPortfolioItem" id="achievements" class="section achievments text-black"></app-body-achievements>
<app-body-portfolio (PortfolioObject)="DisplayPortfolioContent($event)" (DisplayPortfolioItem)="CheckPageStatus($event)" *ngIf="!displayPortfolioItem" id="portfolio" class="section portfolio"></app-body-portfolio>
<app-body-games (VideoLink)="FetchVideoLink($event)" *ngIf="!displayPortfolioItem" id="games" class="section games text-white"></app-body-games>
<!--<app-body-periodic-table *ngIf="!displayPortfolioItem" id="periodic-table" class="section periodicTable text-white"></app-body-periodic-table>-->
<app-body-contactme *ngIf="!displayPortfolioItem" id="contactme" class="section contactme text-black"></app-body-contactme>
<app-body-lightbox [VideoLink]="videoLink" *ngIf="!displayPortfolioItem" id="lightbox" class=""></app-body-lightbox>

<app-body-portfolio-item [portfolioObject]="Myvariable" (PortfolioObject)="DisplayPortfolioContent($event)"  (DisplayPortfolioItem)="CheckPageStatus($event)"  *ngIf="displayPortfolioItem" id="portfolioitem" class="section portfolio-item text-white" ></app-body-portfolio-item>
<app-footer *ngIf="!displayPortfolioItem"></app-footer>