<div class="container">
    <div class="col-sm-10 disablefloat centerblock margintop10perc marginbottom10perc">
            <p class="font-large">
                 On a development standpoint, I take the approach that <span class="text-red">every blocker has a solution</span>; the trick is knowing
                from which side to approach the issue from. By <span class="text-red">thinking laterally and communicating the issue</span> I find a solution
                is often found a lot faster than was previously envisaged. <span class="text-red">My experience</span> in both <span class="text-red">small and large cross-functional
                teams</span> has also been informative. Allowing me to <span class="text-red">appreciate</span> the <span class="text-red">roles and responsibilities of everyone involved</span>.
                Further to the above, I have a <span class="text-red">proven record</span> of leading projects and delivering those projects <span class="text-red">without needing
                to be micromanaged</span>
                <br/><br/> As someone who has a real <span class="text-red">thirst for knowledge and understanding</span>,
                I do <span class="text-red">invest</span> a lot of <span class="text-red">time keeping
                up to date with the latest technologies and trends</span>. I excel in <span class="text-red">HTML/CSS/Javascipt</span>,
                have very <span class="text-red">strong Photoshop and Illustrator skills</span>, as well as a <span class="text-red">great understanding of image optimisation
                for the web.</span>
                <br/><br/> My <span class="text-red">passion and love of programming</span> comes from <span class="text-red">finding and crafting simple solutions</span>                to <span class="text-red">complicated
                tasks</span>. I take pride in <span class="text-red">keeping my code clean</span>, and furthermore, enjoy
                <span class="text-red">automating things</span> that can and<span class="text-red"> should
                be automated</span>. I have shown myself to be able to <span class="text-red">excel under pressure</span>, and ensure I always <span class="text-red">do what it takes</span>
                to have a <span class="text-red">successful outcome</span> for the <span class="text-red">project and the business</span>. As an individual, I’m never afraid to express
                opinions and welcome the opinions of others. I have always been of the opinion that we as individuals are
                both students and teachers; so we should <span class="text-red">never stop learning</span> and also <span class="text-red">never stop teaching</span> what we have learned
                to others.
            </p>
        <!--<div class="periodic-table  text-right">
                    <div *ngFor="let PeriodicItem of testThePeriodicTable;">
                            <div class="periodic-item text-white" >
                                <h1><strong>{{PeriodicItem.mainElement[0].abbreviation}}</strong></h1>
                                <p>{{PeriodicItem.mainElement[0].title}}</p>
                            </div>
                            <br *ngIf="PeriodicItem.breakpoint"/>
                    </div>
                </div>-->
    </div>
</div>