<div class="container">
    <div class="col-sm-10 disablefloat centerblock marginbottom10perc">
        <h1>Contact me </h1>
        <p class="font-large text-black"><strong><span>+44 (0)7858106199</span></strong></p>
        <p class="font-large"><strong><span><a class="text-black" href="mailto:aigars.jekabsons@ajtechlab.com">aigars.jekabsons@ajtechlab.com</a></span></strong></p>
<div class="myContactForm" id="myContactForm" *ngIf="FormSubmitted">
    <div class="row">        
        <input type="text" title="Name" placeholder="Name" class="nameinput col-md-5 col-xs-12"/>
        <input type="Email" title="Email" placeholder="Email" class="emailinput"/>
        
        <input type="text" title="Phone number" placeholder="Phone number" class="phoneinput col-lg-11 col-xs-12"/>
        <br/>
        <textarea type="text" title="Message" placeholder="Short message" class="messageinput col-lg-11 col-xs-12" rows="4"></textarea>
    </div>
    <br/>
    
        <div class="buttonarea col-lg-11 col-xs-12 text-right">
            <div class="row">
                <button class="btn btn-primary" (click)="TriggerAlert()" >Submit</button>
            </div>
        </div>
</div>
<div class="Form-Submition-text" *ngIf="!FormSubmitted">
    <p><strong>Thank you for leaving your details. I will be in contact soon.</strong></p>
</div>
    </div>
    
</div>