<div class="container">

        <div class="col-sm-10 disablefloat centerblock text-white">
            <h1 style="margin-top:35px;margin-bottom:35px"><strong>Personal projects</strong></h1>
        </div>


    <div class="col-sm-12 disablefloat centerblock margintop5perc marginbottom5perc">
      <div class="col-sm-4">
        <img src="assets/images/tennis.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Single player tennis game developed in Typescript</h4>
        <a routerLink="tennis" class="play presenting" title="Play tennis"></a>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/snake.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Angular 2 snake game developed in Typescript.</h4>
        <a routerLink="snake" class="play presenting" title="Play Snake"></a>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/headset.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Video of my engineered and built Bluetooth headset.</h4>
        <a (click)="LaunchLightbox('https://www.youtube.com/embed/Q-Bt0Y6BE90?rel=0&amp;controls=0&amp;showinfo=0')" class="play presenting" title="BlueTooth Headset"></a>
      </div>
      <div class="col-sm-4">
        <img src="assets/images/3dlense.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Video of my engineered and built 3D lense.</h4>
        <a (click)="LaunchLightbox('https://www.youtube.com/embed/MrOMSoPzPZY?rel=0&amp;controls=0&amp;showinfo=0')" class="play presenting" title="3D lense"></a>
        
      </div>

      <div class="col-sm-4">
        <img src="assets/images/coming_soon.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Video of email generating tool built in JavaScript.</h4>
        <!--<a (click)="LaunchLightbox('https://www.youtube.com/embed/Q-Bt0Y6BE90?rel=0&amp;controls=0&amp;showinfo=0')" class="play presenting"></a>-->
      </div>
      <div class="col-sm-4">
        <img src="assets/images/coming_soon.jpg" style="width:100%;"/>
        <h4 class="text-center" style="margin-top:10px; margin-bottom:20px;">Video of quick insight of my Angular 1.5 project.</h4>
        <!--<a (click)="LaunchLightbox('https://www.youtube.com/embed/MrOMSoPzPZY?rel=0&amp;controls=0&amp;showinfo=0')" class="play presenting"></a>-->
        
      </div>
    </div>

</div>
