<div class="fluid-container">
  <div class="col-sm-12 disablefloat centerblock marginbottom5perc">

    <div (click)="GoBack()" class="close-button"></div>

    <br/>
    <div class="carousel">

      <ul class="slides">

        <li *ngFor="let CarouselImages of portfolioObject.carouselImages ">
          <img src="assets/images/portfolioImages/{{CarouselImages.image}}" alt="">

        </li>


      </ul>

    </div>

  </div>

</div>
<div class="fluid-container text-white portfolioContainer">
  <div class="col-md-6">
    <div class="personal-notes">
          <h1 class="text-left">{{portfolioObject.Title}}</h1>
    </div>
  </div>
  <div class="col-md-6">
    <div class="personal-notes">
            <h2 class="CarouselTechStack">
            Techstack used :
            <img class="Techstack" src="assets/images/icons/scss.png" />
            <img class="Techstack" src="assets/images/icons/{{portfolioObject.techstack}}" />
            <img class="CMS" src="assets/images/icons/{{portfolioObject.CMSPlatform}}" />
          </h2>
      <p class="font-large text-left"> {{portfolioObject.description}}</p>
    </div>
  </div>
</div>

